*{
    box-sizing: border-box;
    
}
body{
    height: 4000px;
}
/* our framwork */
.container{width:940px ;margin: auto;}
.text-center{text-align: center}
.upper{text-transform: uppercase;}
.main-color{color:#f7600e}
.main-back{background: #f7600e}
.hidden{
    display: none;
}

/*end of framwork */
/* start navbar */
.navbar{
    background-image:url("../image/macbook-925614.jpg");
    height: 677px;
    background-size: cover;
}
.navbar .overlay .container .header{padding-top: 20px;}
.navbar .overlay .container .header .one{float: left;}
.navbar .overlay .container .header .two{float: right;}
.overlay{background:rgba(0,0,0,.4);height: 100%;}
.navbar .overlay .info{margin-top: 200px;}
.navbar .overlay .info h2{font-weight: 700;font-size: 30px;}
.navbar .overlay .info p{color: #E2CECE;font-size: 20px;}
.navbar .overlay .info .button > button{
    border-radius: 10px;
    width: 185px;
    padding: 8px;
    border: none;
    transition: all .5s ease-in-out;
    background-color: #4B4F4B;
    color: white;
    }
.navbar .overlay .info .button > button:hover{background:#f7600e;cursor: pointer;}
.navbar .overlay .info .button {margin-top: 110px;}
/* End navbar */

/* the start of four-divs class */
.four-divs {overflow: hidden;padding-top: 80px;padding-bottom:  80px;}
.four-divs .container .all-divs  >div{float: left;width: 23%;}
.four-divs .container .all-divs >div:not(:first-child){margin-left: 2.5%;}
.four-divs .container .all-divs >div i{
   height: 90px;
   width: 90px;
   text-align: center;
   line-height: 90px;
   border-radius: 50%;
   color: red;
   border: 2px solid #F7DBDB;
}
.four-divs .container .all-divs >div i:hover{color: #B20C0C;cursor: pointer;}
.four-divs .container .all-divs h2{color: #C40B0B;}
.four-divs .container .all-divs p{color: #956F6F}
/* the end of four-divs class*/

/* Start of class subsucribe */
.subscribe {
    height: 250px;
    text-align: center;
    background-image: url("../image/download (1).jpg");
    -webkit-background-image: url("../image/download (1).jpg");
    margin: 60px 0 ;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.subscribe .overlay{background: rgba(0,0,0,.5);width: 100%;}
.subscribe .overlay .container .form{ line-height: 250px;}
.subscribe .overlay .container .form input{
    border:none;
    border-radius: 10px;
    width: 304px;
    height: 30px;
}
.subscribe .overlay .container .form button{
    border:none;
    border-radius: 10px;
    height: 30px;
    width: 204px;
    margin-left: 20px;
}
.subscribe .overlay .container .form button:hover{background:#f7600e;cursor: pointer;}
/* End of class subscribe */

/* Start of class our-work */
.our-work{
    padding: 80px 0;
    height: 870px;
   
   
    
}

.our-work .container .work{
    text-align: center;
    display: block;
    
}
.our-work .container .work .image{
   
     background-image: url("../image/1.jpg");
     height: 500px;
      width: 700px;
     background-size: cover;
     margin: auto;
     border-radius: 20px;
     margin-bottom: 40px;
    
}
.our-work .container .work button{
   border: 1px solid black;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s linear;
}
.our-work .container .work button:hover{
    background-color: #f7600e;
    
}


/* End of class our-work */
/* Start of class testim*/
.testim {
   text-align: center;
    height: 600px;
    background-image: url("../image/woman-690036.jpg");
    background-size: cover;
    position: relative;
}
.testim .container  .over{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.2);
}
.testim  .client {padding-top: 20%;color: #FFFFFF;font-size: 20px;}
.testim  .container{height: 100%;}
.testim  .client img{
    width: 80px;
    border-radius: 50%;
}
.testim .container .left{
    position: absolute;
    top:47%;
    left: 100px;
    cursor: pointer;
     color: #B20707;
}
.testim .container .right{
    position: absolute;
    color: #B20707;
    top:47%;
    right: 100px;
    cursor: pointer;
}
/*End  of class testim */
/* Start of class our team */
.our-team {height: 540px}
.our-team .the-team .person  {
  width: 23%;
  float: left;
  margin-right: 2%;
  position: relative;
  color: gray;
}
.our-team .the-team .person .foroverlay{
    position: relative;
   
}
.our-team .the-team .person .foroverlay .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    border-radius: 20px;
    
}
.our-team .the-team .person img{
    width: 192px;
    height: 212px;
    border-radius: 20px;
    width: 100%;
    -webkit-filter:gray;
    filter: grayscale(1);
}

/* End of class our team */
/* Statr of class contact */
.contact {
    background-image: url("../image/city.jpg");
    -webkit-background-image: url("../image/city.jpg");
    height: 600px;
    background-size: 50px;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.contact .over{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
.contact .container h2{
    padding-top: 140px;
}
.contact .form{
    width: 700px;
}
.contact .form input{
    width: 49%;
    
}
.contact .form input [type="email"]{
    display: block;
    float: left;
}
.contact .form textarea{
    float: left;
    margin-left: 5px;
}
/* End of class contact */